In [1]:
#importing necessary library
import pandas as pd
import numpy as np

In [2]:
# Reading the CSV file
df = pd.read_csv('Data Set - industrial_safety_and_health_database_with_accidents_description.csv')

In [3]:
# printing the dataframe file.
df

,Unnamed: 0,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...
...,...,...,...,...,...,...,...,...,...,...,...
420,434,2017-07-04 00:00:00,Country_01,Local_04,Mining,I,III,Male,Third Party,Others,"Being approximately 5:00 a.m. approximately, w..."
421,435,2017-07-04 00:00:00,Country_01,Local_03,Mining,I,II,Female,Employee,Others,The collaborator moved from the infrastructure...
422,436,2017-07-05 00:00:00,Country_02,Local_09,Metals,I,II,Male,Employee,Venomous Animals,During the environmental monitoring activity i...
423,437,2017-07-06 00:00:00,Country_02,Local_05,Metals,I,II,Male,Employee,Cut,The Employee performed the activity of strippi...
424,438,2017-07-09 00:00:00,Country_01,Local_04,Mining,I,II,Female,Third Party,Fall prevention (same level),"At 10:00 a.m., when the assistant cleaned the ..."

Creating a copy of the dataframe.

In [4]:
x=df.copy()

**Lets divide Date column in Day, Month and Year**

In [5]:
year =[]
month =[]
date=[]
for x in range(df.shape[0]):
    h = df['Data'][x].split()
    k = h[0].split('-')
    year.append(int(k[0]))
    month.append(int(k[1]))
    date.append(int(k[2]))

In [6]:
dates = list(zip(year,month,date))
df_date = pd.DataFrame(dates, columns = ['Year','Month','Date'])
df_date

     Year  Month  Date
0    2016      1     1
1    2016      1     2
2    2016      1     6
3    2016      1     8
4    2016      1    10
..    ...    ...   ...
420  2017      7     4
421  2017      7     4
422  2017      7     5
423  2017      7     6
424  2017      7     9

[425 rows x 3 columns]

Concatenating the date, Month and Year to new_df

In [7]:
df_new =pd.concat([df,df_date],axis=1)
df_new

,Unnamed: 0,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description,Year,Month,Date
0,0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,1
1,1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,1,2
2,2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...,2016,1,6
3,3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...,2016,1,8
4,4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...,2016,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,434,2017-07-04 00:00:00,Country_01,Local_04,Mining,I,III,Male,Third Party,Others,"Being approximately 5:00 a.m. approximately, w...",2017,7,4
421,435,2017-07-04 00:00:00,Country_01,Local_03,Mining,I,II,Female,Employee,Others,The collaborator moved from the infrastructure...,2017,7,4
422,436,2017-07-05 00:00:00,Country_02,Local_09,Metals,I,II,Male,Employee,Venomous Animals,During the environmental monitoring activity i...,2017,7,5
423,437,2017-07-06 00:00:00,Country_02,Local_05,Metals,I,II,Male,Employee,Cut,The Employee performed the activity of strippi...,2017,7,6
424,438,2017-07-09 00:00:00,Country_01,Local_04,Mining,I,II,Female,Third Party,Fall prevention (same level),"At 10:00 a.m., when the assistant cleaned the ...",2017,7,9

In [8]:
col = df_new.columns.tolist()
col

['Unnamed: 0',
 'Data',
 'Countries',
 'Local',
 'Industry Sector',
 'Accident Level',
 'Potential Accident Level',
 'Genre',
 'Employee or Third Party',
 'Critical Risk',
 'Description',
 'Year',
 'Month',
 'Date']

In [9]:
#concatenating the columns in one dataframe
col1 =col[:2]+col[-3:]+col[2:-3]
col1

['Unnamed: 0',
 'Data',
 'Year',
 'Month',
 'Date',
 'Countries',
 'Local',
 'Industry Sector',
 'Accident Level',
 'Potential Accident Level',
 'Genre',
 'Employee or Third Party',
 'Critical Risk',
 'Description']

In [10]:
df_latest = df_new[col1]

In [11]:
df_latest

,Unnamed: 0,Data,Year,Month,Date,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,0,2016-01-01 00:00:00,2016,1,1,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,1,2016-01-02 00:00:00,2016,1,2,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2,2016-01-06 00:00:00,2016,1,6,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,3,2016-01-08 00:00:00,2016,1,8,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,4,2016-01-10 00:00:00,2016,1,10,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,434,2017-07-04 00:00:00,2017,7,4,Country_01,Local_04,Mining,I,III,Male,Third Party,Others,"Being approximately 5:00 a.m. approximately, w..."
421,435,2017-07-04 00:00:00,2017,7,4,Country_01,Local_03,Mining,I,II,Female,Employee,Others,The collaborator moved from the infrastructure...
422,436,2017-07-05 00:00:00,2017,7,5,Country_02,Local_09,Metals,I,II,Male,Employee,Venomous Animals,During the environmental monitoring activity i...
423,437,2017-07-06 00:00:00,2017,7,6,Country_02,Local_05,Metals,I,II,Male,Employee,Cut,The Employee performed the activity of strippi...
424,438,2017-07-09 00:00:00,2017,7,9,Country_01,Local_04,Mining,I,II,Female,Third Party,Fall prevention (same level),"At 10:00 a.m., when the assistant cleaned the ..."

In [12]:
# Make a copy of the dataframe
df_latest_copy = df_latest.copy()

**Drop Unnamed: 0, and Data column from dataframe**

In [13]:
df_latest.drop(['Unnamed: 0','Data'], axis=1,inplace = True)
df_latest.head(3)

/Users/nebula/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Year,Month,Date,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,2016,1,1,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,2016,1,2,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2016,1,6,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...

**Value counts for column 'Local'**

In [14]:
df_latest['Local'].value_counts()

Local_03    90
Local_05    59
Local_01    57
Local_04    56
Local_06    46
Local_10    44
Local_08    27
Local_02    24
Local_07    14
Local_12     4
Local_09     2
Local_11     2
Name: Local, dtype: int64

**Value counts for column 'Countries'**

In [15]:
df_latest['Countries'].value_counts()

Country_01    251
Country_02    130
Country_03     44
Name: Countries, dtype: int64

**Value Count for variable Accident Level.'Accident Level' is a target variable. which show high level of data imbalance**

In [16]:
df_latest['Accident Level'].value_counts()

I      316
II      40
III     31
IV      30
V        8
Name: Accident Level, dtype: int64

**Value counts for variable 'Potential Accident Level'. This target varaible less amount of data imbalance as comparied to 'Accident Level'**

In [17]:
df_latest['Potential Accident Level'].value_counts()

IV     143
III    106
II      95
I       49
V       31
VI       1
Name: Potential Accident Level, dtype: int64

**Label Potential Accident Level to numeric category**

In [18]:
Potential_Accident_Level = {
    'I'   :   1,
    'II'  :   2,
    'III' :   3,
    'IV'  :   4,
    'V'   :   5,
    'VI'   :   6
}

Mapping Potential Accident level into the dataframe

In [19]:
df_latest['Potential_Accident_Level'] = df_latest['Potential Accident Level'].map(Potential_Accident_Level)

/Users/nebula/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_latest['Potential_Accident_Level'].value_counts()

4    143
3    106
2     95
1     49
5     31
6      1
Name: Potential_Accident_Level, dtype: int64

#### Apply get_dummies to columns to get data in the form of 0's and 1's

In [21]:
df_latest = pd.get_dummies(df_latest, columns=['Date','Year','Countries','Critical Risk','Local','Industry Sector','Genre','Employee or Third Party'],prefix='Dummy',drop_first=True)

In [22]:
df_latest = pd.get_dummies(df_latest, columns=['Month'],prefix='Month',drop_first=True)

In [23]:
df_latest.drop(['Accident Level','Potential Accident Level'],axis=1,inplace=True)

In [24]:
df_latest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 94 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Description                                      425 non-null    object
 1   Potential_Accident_Level                         425 non-null    int64
 2   Dummy_2                                          425 non-null    uint8
 3   Dummy_3                                          425 non-null    uint8
 4   Dummy_4                                          425 non-null    uint8
 5   Dummy_5                                          425 non-null    uint8
 6   Dummy_6                                          425 non-null    uint8
 7   Dummy_7                                          425 non-null    uint8
 8   Dummy_8                                          425 non-null    uint8
 9   Dummy_9                                          425 non-null    uint8
 10  Dummy_10                                         425 non-null    uint8
 11  Dummy_11                                         425 non-null    uint8
 12  Dummy_12                                         425 non-null    uint8
 13  Dummy_13                                         425 non-null    uint8
 14  Dummy_14                                         425 non-null    uint8
 15  Dummy_15                                         425 non-null    uint8
 16  Dummy_16                                         425 non-null    uint8
 17  Dummy_17                                         425 non-null    uint8
 18  Dummy_18                                         425 non-null    uint8
 19  Dummy_19                                         425 non-null    uint8
 20  Dummy_20                                         425 non-null    uint8
 21  Dummy_21                                         425 non-null    uint8
 22  Dummy_22                                         425 non-null    uint8
 23  Dummy_23                                         425 non-null    uint8
 24  Dummy_24                                         425 non-null    uint8
 25  Dummy_25                                         425 non-null    uint8
 26  Dummy_26                                         425 non-null    uint8
 27  Dummy_27                                         425 non-null    uint8
 28  Dummy_28                                         425 non-null    uint8
 29  Dummy_29                                         425 non-null    uint8
 30  Dummy_30                                         425 non-null    uint8
 31  Dummy_31                                         425 non-null    uint8
 32  Dummy_2017                                       425 non-null    uint8
 33  Dummy_Country_02                                 425 non-null    uint8
 34  Dummy_Country_03                                 425 non-null    uint8
 35  Dummy_Bees                                       425 non-null    uint8
 36  Dummy_Blocking and isolation of energies         425 non-null    uint8
 37  Dummy_Burn                                       425 non-null    uint8
 38  Dummy_Chemical substances                        425 non-null    uint8
 39  Dummy_Confined space                             425 non-null    uint8
 40  Dummy_Cut                                        425 non-null    uint8
 41  Dummy_Electrical Shock                           425 non-null    uint8
 42  Dummy_Electrical installation                    425 non-null    uint8
 43  Dummy_Fall                                       425 non-null    uint8
 44  Dummy_Fall prevention                            425 non-null    uint8
 45  Dummy_Fall prevention (same level)               425 non-null    uint8
 46  Dummy_Individual protection equipment            425 non-null    uint8
 47  Dummy_Liquid Metal                               425 non-null    uint8
 48  Dummy_Machine Protection                         425 non-null    uint8
 49  Dummy_Manual Tools                               425 non-null    uint8
 50  Dummy_Others                                     425 non-null    uint8
 51  Dummy_Plates                                     425 non-null    uint8
 52  Dummy_Poll                                       425 non-null    uint8
 53  Dummy_Power lock                                 425 non-null    uint8
 54  Dummy_Pressed                                    425 non-null    uint8
 55  Dummy_Pressurized Systems                        425 non-null    uint8
 56  Dummy_Pressurized Systems / Chemical Substances  425 non-null    uint8
 57  Dummy_Projection                                 425 non-null    uint8
 58  Dummy_Projection of fragments                    425 non-null    uint8
 59  Dummy_Projection/Burning                         425 non-null    uint8
 60  Dummy_Projection/Choco                           425 non-null    uint8
 61  Dummy_Projection/Manual Tools                    425 non-null    uint8
 62  Dummy_Suspended Loads                            425 non-null    uint8
 63  Dummy_Traffic                                    425 non-null    uint8
 64  Dummy_Vehicles and Mobile Equipment              425 non-null    uint8
 65  Dummy_Venomous Animals                           425 non-null    uint8
 66  Dummy_remains of choco                           425 non-null    uint8
 67  Dummy_Local_02                                   425 non-null    uint8
 68  Dummy_Local_03                                   425 non-null    uint8
 69  Dummy_Local_04                                   425 non-null    uint8
 70  Dummy_Local_05                                   425 non-null    uint8
 71  Dummy_Local_06                                   425 non-null    uint8
 72  Dummy_Local_07                                   425 non-null    uint8
 73  Dummy_Local_08                                   425 non-null    uint8
 74  Dummy_Local_09                                   425 non-null    uint8
 75  Dummy_Local_10                                   425 non-null    uint8
 76  Dummy_Local_11                                   425 non-null    uint8
 77  Dummy_Local_12                                   425 non-null    uint8
 78  Dummy_Mining                                     425 non-null    uint8
 79  Dummy_Others                                     425 non-null    uint8
 80  Dummy_Male                                       425 non-null    uint8
 81  Dummy_Third Party                                425 non-null    uint8
 82  Dummy_Third Party (Remote)                       425 non-null    uint8
 83  Month_2                                          425 non-null    uint8
 84  Month_3                                          425 non-null    uint8
 85  Month_4                                          425 non-null    uint8
 86  Month_5                                          425 non-null    uint8
 87  Month_6                                          425 non-null    uint8
 88  Month_7                                          425 non-null    uint8
 89  Month_8                                          425 non-null    uint8
 90  Month_9                                          425 non-null    uint8
 91  Month_10                                         425 non-null    uint8
 92  Month_11                                         425 non-null    uint8
 93  Month_12                                         425 non-null    uint8
dtypes: int64(1), object(1), uint8(92)
memory usage: 44.9+ KB

We can see Decription is only object type variable. Processing Description column.

In [25]:
df_latest['Description'][0]

'While removing the drill rod of the Jumbo 08 for maintenance, the supervisor proceeds to loosen the support of the intermediate centralizer to facilitate the removal, seeing this the mechanic supports one end on the drill of the equipment to pull with both hands the bar and accelerate the removal from this, at this moment the bar slides from its point of support and tightens the fingers of the mechanic between the drilling bar and the beam of the jumbo.'

#### Cleaning up the data,removing stopwords,remove punctuation, converting them into tokens.

In [26]:
import string
import re
import os
import nltk

from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords, twitter_samples 

tweet_tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)

stopwords_english = stopwords.words('english')


def process_tweet(tweet):
    '''
    Input: 
        tweet: a string containing a tweet
    Output:
        tweets_clean: a list of words containing the processed tweet
    
    '''
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
    #remove numbers
    tweet = re.sub(r'\d+', '', tweet)
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    # tokenize tweets
    tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)
    tweet_tokens = tokenizer.tokenize(tweet)
    ### START CODE HERE ###
    tweets_clean = []
    for word in tweet_tokens:
        if (word not in stopwords_english and # remove stopwords
            word not in string.punctuation): # remove punctuation
            #tweets_clean.append(word)
            tweets_clean.append(word)
    ### END CODE HERE ###
    return tweets_clean

In [27]:
df_latest['Description'][0]

'While removing the drill rod of the Jumbo 08 for maintenance, the supervisor proceeds to loosen the support of the intermediate centralizer to facilitate the removal, seeing this the mechanic supports one end on the drill of the equipment to pull with both hands the bar and accelerate the removal from this, at this moment the bar slides from its point of support and tightens the fingers of the mechanic between the drilling bar and the beam of the jumbo.'

In [28]:
b = process_tweet(df_latest['Description'][0])
b

['removing',
 'drill',
 'rod',
 'jumbo',
 'maintenance',
 'supervisor',
 'proceeds',
 'loosen',
 'support',
 'intermediate',
 'centralizer',
 'facilitate',
 'removal',
 'seeing',
 'mechanic',
 'supports',
 'one',
 'end',
 'drill',
 'equipment',
 'pull',
 'hands',
 'bar',
 'accelerate',
 'removal',
 'moment',
 'bar',
 'slides',
 'point',
 'support',
 'tightens',
 'fingers',
 'mechanic',
 'drilling',
 'bar',
 'beam',
 'jumbo']

##### Check length of all words in description

In [29]:
all_word = []

for row in df_latest['Description']:
    for word in process_tweet(row):
        all_word.append(word)

In [30]:
len(all_word)

14120

In [31]:
import os
path = os.getcwd()
path

'/Users/nebula'

#### Using GloVe Embedding of 50 dimension

In [32]:
import os
import gensim
from gensim.test.utils import datapath, get_tmpfile
from gensim.models import KeyedVectors # Gensim contains word2vec models and processing tools

path = os.getcwd()

glove_file = datapath(path+'/Downloads' + '/glove.6B.50d.txt') # This is a GloVe model


tmp_file = get_tmpfile(path+'/Downloads' +'/word2vec.glove.6B.50d.txt')


from gensim.scripts.glove2word2vec import glove2word2vec
_ =  glove2word2vec(glove_file, tmp_file)  # Converting the GloVe file into a Word2Vec file
model = KeyedVectors.load_word2vec_format(tmp_file)

/Users/nebula/opt/anaconda3/lib/python3.7/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)
/Users/nebula/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: DeprecationWarning: Call to deprecated `glove2word2vec` (KeyedVectors.load_word2vec_format(.., binary=False, no_header=True) loads GLoVE text vectors.).
  from ipykernel import kernelapp as app

In [33]:
# Check out what the embedding looks like

wordEmbed = model['cat']
print(wordEmbed.shape)
print(wordEmbed)

(50,)
[ 0.45281  -0.50108  -0.53714  -0.015697  0.22191   0.54602  -0.67301
 -0.6891    0.63493  -0.19726   0.33685   0.7735    0.90094   0.38488
  0.38367   0.2657   -0.08057   0.61089  -1.2894   -0.22313  -0.61578
  0.21697   0.35614   0.44499   0.60885  -1.1633   -1.1579    0.36118
  0.10466  -0.78325   1.4352    0.18629  -0.26112   0.83275  -0.23123
  0.32481   0.14485  -0.44552   0.33497  -0.95946  -0.097479  0.48138
 -0.43352   0.69455   0.91043  -0.28173   0.41637  -1.2609    0.71278
  0.23782 ]

##### Converting Description into GloVe embeddings

In [34]:
data_list = list()
for row in df_latest['Description']:
    sentence = np.zeros(50)
    count = 0
    for word in process_tweet(row):
        try:
            sentence += model[word]
            count += 1
        except KeyError:
            continue
    data_list.append(sentence / count)

##### Target variable y.

In [35]:
y = df_latest['Potential_Accident_Level']

In [36]:
y.shape

(425,)

##### All Other columns are stored in X.

In [37]:
X = np.array(data_list)

In [38]:
print(type(X))

<class 'numpy.ndarray'>

#### Splitting the data into training and test set of ratio 80:20

In [39]:
from sklearn.model_selection import train_test_split
X_tr, X_te, y_tr, y_te = train_test_split(np.array(data_list), y, test_size=0.20,random_state=42)

In [40]:
print(f"x_train.shape:{X_tr.shape} ,y_train.shape:{y_tr.shape}")
print(f"x_test.shape:{X_te.shape},y_test.shape:{y_te.shape}")

x_train.shape:(340, 50) ,y_train.shape:(340,)
x_test.shape:(85, 50),y_test.shape:(85,)

#### Method to store Accuracy of Model.

In [41]:
acc = []
mod = []
def get_accuracy(y,x):
    global t
    acc.append(x)
    mod.append(y)
    temp=pd.DataFrame(mod,columns=['Model'])
    temp1 = pd.DataFrame(acc,columns=['accuracy'])
    t =temp.join(temp1)
    print(t)

#### Applying RandomForestRegressor Model

In [42]:
from sklearn.ensemble import  RandomForestClassifier
rf =  RandomForestClassifier()

In [43]:
rf.fit(X_tr,y_tr)

RandomForestClassifier()

In [44]:
print(rf.score(X_tr,y_tr))
print(rf.score(X_te,y_te))

0.9970588235294118
0.4

In [45]:
get_accuracy('RandomForestClassifier',rf.score(X_te,y_te))

                    Model  accuracy
0  RandomForestClassifier       0.4

In [46]:
#taking GloVe embeddings
b = np.array(data_list)

In [47]:
df = pd.DataFrame(b)

In [48]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.046364,-0.029248,0.222147,-0.069934,-0.007058,0.178736,-0.022133,0.027935,0.297329,-0.117455,...,-0.086675,0.008910,0.020527,0.192217,0.043438,-0.213376,0.258636,-0.000753,0.022364,-0.002002
1,0.517001,0.210823,0.313585,-0.238873,-0.080969,0.442216,0.183545,0.063399,0.154941,0.317588,...,0.252190,0.053685,0.016166,-0.057668,0.119771,0.016885,0.026766,-0.051854,0.217533,-0.043537
2,0.053373,-0.015110,0.161758,-0.138729,0.164716,0.183081,-0.223473,0.132254,0.235123,-0.083697,...,-0.077956,0.059609,-0.053150,0.093275,0.135326,-0.172743,0.231328,-0.285187,-0.063133,-0.230613
3,0.138974,-0.054045,0.219032,-0.018591,0.175420,0.094466,0.073502,0.116270,0.012112,-0.280907,...,0.000397,0.046155,-0.109199,0.146955,-0.032561,-0.135152,0.289416,-0.078163,-0.054027,-0.167514
4,0.040683,0.194368,0.381006,-0.076749,0.186348,0.380040,-0.011421,-0.056856,0.153616,-0.198066,...,-0.076633,0.085033,0.027849,0.077702,-0.046608,-0.262838,0.214653,-0.311427,-0.086736,0.003946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,0.021859,0.037871,0.279773,-0.158140,0.440398,0.294467,-0.023263,-0.064917,0.028563,-0.447277,...,0.066633,0.023293,-0.075607,-0.079051,-0.348242,-0.055184,0.240102,-0.271480,-0.100062,0.025667
421,0.127191,-0.025613,0.172690,-0.056459,-0.029684,0.139266,-0.239016,0.012693,0.023200,-0.065939,...,-0.154663,0.247511,-0.059695,0.066922,0.196673,-0.141401,-0.018502,-0.368245,0.265137,-0.140825
422,0.400082,-0.100790,0.015473,-0.114683,0.096129,0.074122,-0.242359,0.203369,0.147597,-0.275508,...,-0.282320,0.067688,0.020581,0.360503,0.343128,-0.129139,0.062084,0.045433,-0.051618,-0.183688
423,-0.055878,0.012568,0.219108,-0.102659,0.127429,0.412077,0.018652,0.143614,0.051245,0.089297,...,-0.037024,0.212229,-0.187600,0.165712,0.143163,-0.256683,0.089438,-0.069469,-0.060815,-0.230876
424,0.145441,0.052734,0.167359,-0.137173,0.309313,-0.192620,-0.370408,0.227082,0.053699,-0.440744,...,-0.063406,0.022875,-0.037893,0.161982,0.159699,0.034559,0.069694,-0.358341,0.226060,-0.226945

In [49]:
new_df = pd.concat([df_latest,df],axis=1)

In [50]:
new_df.drop(['Description'],axis=1,inplace=True)

In [51]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Columns: 143 entries, Potential_Accident_Level to 49
dtypes: float64(50), int64(1), uint8(92)
memory usage: 207.6 KB

In [52]:
new_df.shape

(425, 143)

In [53]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Columns: 143 entries, Potential_Accident_Level to 49
dtypes: float64(50), int64(1), uint8(92)
memory usage: 207.6 KB

In [54]:
df_final = new_df.copy()

In [55]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Columns: 143 entries, Potential_Accident_Level to 49
dtypes: float64(50), int64(1), uint8(92)
memory usage: 207.6 KB

In [56]:
X = df_final.copy()

In [57]:
# X.drop(['Accident_Level','Potential_Accident_Level'], axis=1, inplace = True)

In [58]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Columns: 143 entries, Potential_Accident_Level to 49
dtypes: float64(50), int64(1), uint8(92)
memory usage: 207.6 KB

In [59]:
y.value_counts()

4    143
3    106
2     95
1     49
5     31
6      1
Name: Potential_Accident_Level, dtype: int64

In [60]:
y_list = list(y)
d = y_list.index(6)
d

307

In [61]:
X

,Potential_Accident_Level,Dummy_2,Dummy_3,Dummy_4,Dummy_5,Dummy_6,Dummy_7,Dummy_8,Dummy_9,Dummy_10,...,40,41,42,43,44,45,46,47,48,49
0,4,0,0,0,0,0,0,0,0,0,...,-0.086675,0.008910,0.020527,0.192217,0.043438,-0.213376,0.258636,-0.000753,0.022364,-0.002002
1,4,1,0,0,0,0,0,0,0,0,...,0.252190,0.053685,0.016166,-0.057668,0.119771,0.016885,0.026766,-0.051854,0.217533,-0.043537
2,3,0,0,0,0,1,0,0,0,0,...,-0.077956,0.059609,-0.053150,0.093275,0.135326,-0.172743,0.231328,-0.285187,-0.063133,-0.230613
3,1,0,0,0,0,0,0,1,0,0,...,0.000397,0.046155,-0.109199,0.146955,-0.032561,-0.135152,0.289416,-0.078163,-0.054027,-0.167514
4,4,0,0,0,0,0,0,0,0,1,...,-0.076633,0.085033,0.027849,0.077702,-0.046608,-0.262838,0.214653,-0.311427,-0.086736,0.003946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,3,0,0,1,0,0,0,0,0,0,...,0.066633,0.023293,-0.075607,-0.079051,-0.348242,-0.055184,0.240102,-0.271480,-0.100062,0.025667
421,2,0,0,1,0,0,0,0,0,0,...,-0.154663,0.247511,-0.059695,0.066922,0.196673,-0.141401,-0.018502,-0.368245,0.265137,-0.140825
422,2,0,0,0,1,0,0,0,0,0,...,-0.282320,0.067688,0.020581,0.360503,0.343128,-0.129139,0.062084,0.045433,-0.051618,-0.183688
423,2,0,0,0,0,1,0,0,0,0,...,-0.037024,0.212229,-0.187600,0.165712,0.143163,-0.256683,0.089438,-0.069469,-0.060815,-0.230876
424,2,0,0,0,0,0,0,0,1,0,...,-0.063406,0.022875,-0.037893,0.161982,0.159699,0.034559,0.069694,-0.358341,0.226060,-0.226945

In [62]:
X.drop('Potential_Accident_Level',axis=1,inplace=True)

In [63]:
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size=0.30,random_state=88)

##### Apply RandomForestRegressor Model using GloVe

In [64]:
rf1 =  RandomForestClassifier()

In [65]:
rf1.fit(X_tr,y_tr)

RandomForestClassifier()

In [66]:
rf1.score(X_tr,y_tr)

0.9966329966329966

In [67]:
rf1.score(X_te,y_te)

0.4453125

In [68]:
get_accuracy('RandomForestClassifier GloVe',rf1.score(X_te,y_te))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312

In [69]:
pred = rf1.predict(X_te)
pred = pred.astype(int)
pred

array([2, 4, 4, 2, 1, 1, 3, 2, 4, 4, 2, 4, 3, 4, 3, 4, 4, 4, 2, 2, 2, 3,
       3, 4, 4, 4, 3, 2, 4, 1, 2, 4, 4, 1, 4, 2, 4, 4, 2, 3, 4, 2, 2, 4,
       3, 2, 4, 1, 1, 3, 3, 4, 2, 5, 3, 2, 4, 1, 2, 4, 3, 2, 3, 4, 4, 3,
       4, 4, 3, 4, 4, 4, 3, 4, 1, 1, 4, 3, 1, 3, 2, 2, 4, 4, 3, 4, 2, 4,
       4, 4, 3, 2, 4, 4, 4, 4, 4, 3, 4, 4, 3, 4, 4, 4, 1, 3, 3, 2, 4, 4,
       1, 4, 1, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4])

In [70]:
from sklearn.metrics import classification_report

print(classification_report(y_te, pred))

              precision    recall  f1-score   support

           1       0.92      0.71      0.80        17
           2       0.54      0.46      0.50        28
           3       0.28      0.20      0.23        35
           4       0.37      0.65      0.47        37
           5       1.00      0.09      0.17        11

    accuracy                           0.45       128
   macro avg       0.62      0.42      0.43       128
weighted avg       0.51      0.45      0.43       128

##### Apply DecisionTreeClassifier Model

In [71]:
from sklearn.tree import DecisionTreeClassifier

dtree=DecisionTreeClassifier()

In [72]:
dtree.fit(X_tr,y_tr)

DecisionTreeClassifier()

In [73]:
dtree.score(X_tr,y_tr)

0.9966329966329966

In [74]:
dtree.score(X_te,y_te)

0.421875

In [75]:
get_accuracy('DecisionTreeClassifier',dtree.score(X_te,y_te))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875

In [76]:
pred = dtree.predict(X_te)
pred = pred.astype(int)
pred

array([3, 1, 4, 3, 1, 1, 4, 4, 1, 5, 2, 2, 4, 1, 2, 1, 3, 4, 4, 4, 3, 4,
       2, 5, 2, 4, 2, 3, 4, 1, 3, 4, 3, 4, 3, 1, 4, 3, 4, 4, 3, 3, 2, 4,
       3, 2, 4, 1, 1, 5, 3, 4, 5, 5, 3, 4, 4, 1, 2, 3, 4, 5, 2, 3, 4, 2,
       4, 3, 4, 4, 5, 4, 2, 4, 1, 4, 2, 3, 1, 4, 3, 2, 5, 4, 3, 2, 4, 4,
       4, 4, 1, 2, 3, 2, 3, 4, 2, 2, 3, 4, 3, 3, 3, 2, 1, 2, 1, 2, 3, 3,
       1, 3, 1, 4, 1, 3, 4, 4, 5, 4, 3, 4, 4, 4, 4, 4, 3, 3])

In [77]:
from sklearn.metrics import classification_report

print(classification_report(y_te, pred))

              precision    recall  f1-score   support

           1       0.53      0.59      0.56        17
           2       0.27      0.21      0.24        28
           3       0.42      0.40      0.41        35
           4       0.47      0.57      0.51        37
           5       0.33      0.27      0.30        11

    accuracy                           0.42       128
   macro avg       0.40      0.41      0.40       128
weighted avg       0.41      0.42      0.41       128

#### Apply BernoulliNB Model

In [78]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
clf = BernoulliNB()
clf.fit(X_tr, y_tr)
pred = clf.predict(X_te)
print(accuracy_score(y_te, pred))

0.4140625

In [79]:
clf.score(X_te,y_te)

0.4140625

In [80]:
get_accuracy('BernoulliNB',clf.score(X_te,y_te))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062

#### Apply BaggingClassifier Model

In [81]:
from sklearn.ensemble import BaggingClassifier
bgcl=BaggingClassifier()

In [82]:
bgcl.fit(X_tr,y_tr)

BaggingClassifier()

In [83]:
bgcl.score(X_tr,y_tr)

0.9831649831649831

In [84]:
bgcl.score(X_te,y_te)

0.40625

In [85]:
get_accuracy('BaggingClassifier',bgcl.score(X_te,y_te))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062
4             BaggingClassifier  0.406250

## Data Balance

In [86]:
y.value_counts()

4    143
3    106
2     95
1     49
5     31
6      1
Name: Potential_Accident_Level, dtype: int64

In [87]:
X.head(5)

,Dummy_2,Dummy_3,Dummy_4,Dummy_5,Dummy_6,Dummy_7,Dummy_8,Dummy_9,Dummy_10,Dummy_11,...,40,41,42,43,44,45,46,47,48,49
0,0,0,0,0,0,0,0,0,0,0,...,-0.086675,0.008910,0.020527,0.192217,0.043438,-0.213376,0.258636,-0.000753,0.022364,-0.002002
1,1,0,0,0,0,0,0,0,0,0,...,0.252190,0.053685,0.016166,-0.057668,0.119771,0.016885,0.026766,-0.051854,0.217533,-0.043537
2,0,0,0,0,1,0,0,0,0,0,...,-0.077956,0.059609,-0.053150,0.093275,0.135326,-0.172743,0.231328,-0.285187,-0.063133,-0.230613
3,0,0,0,0,0,0,1,0,0,0,...,0.000397,0.046155,-0.109199,0.146955,-0.032561,-0.135152,0.289416,-0.078163,-0.054027,-0.167514
4,0,0,0,0,0,0,0,0,1,0,...,-0.076633,0.085033,0.027849,0.077702,-0.046608,-0.262838,0.214653,-0.311427,-0.086736,0.003946

In [88]:
K = pd.concat([X,y],axis=1)
P=K[K['Potential_Accident_Level'] == 6]
P

,Dummy_2,Dummy_3,Dummy_4,Dummy_5,Dummy_6,Dummy_7,Dummy_8,Dummy_9,Dummy_10,Dummy_11,...,41,42,43,44,45,46,47,48,49,Potential_Accident_Level
307,0,0,0,0,0,0,0,0,0,0,...,-0.059074,-0.013663,0.171465,-0.002466,-0.185372,0.309941,-0.206034,0.011361,-0.265117,6

In [89]:
J = K.append([P]*10,ignore_index=True)
J

,Dummy_2,Dummy_3,Dummy_4,Dummy_5,Dummy_6,Dummy_7,Dummy_8,Dummy_9,Dummy_10,Dummy_11,...,41,42,43,44,45,46,47,48,49,Potential_Accident_Level
0,0,0,0,0,0,0,0,0,0,0,...,0.008910,0.020527,0.192217,0.043438,-0.213376,0.258636,-0.000753,0.022364,-0.002002,4
1,1,0,0,0,0,0,0,0,0,0,...,0.053685,0.016166,-0.057668,0.119771,0.016885,0.026766,-0.051854,0.217533,-0.043537,4
2,0,0,0,0,1,0,0,0,0,0,...,0.059609,-0.053150,0.093275,0.135326,-0.172743,0.231328,-0.285187,-0.063133,-0.230613,3
3,0,0,0,0,0,0,1,0,0,0,...,0.046155,-0.109199,0.146955,-0.032561,-0.135152,0.289416,-0.078163,-0.054027,-0.167514,1
4,0,0,0,0,0,0,0,0,1,0,...,0.085033,0.027849,0.077702,-0.046608,-0.262838,0.214653,-0.311427,-0.086736,0.003946,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,0,0,0,0,0,0,0,0,0,0,...,-0.059074,-0.013663,0.171465,-0.002466,-0.185372,0.309941,-0.206034,0.011361,-0.265117,6
431,0,0,0,0,0,0,0,0,0,0,...,-0.059074,-0.013663,0.171465,-0.002466,-0.185372,0.309941,-0.206034,0.011361,-0.265117,6
432,0,0,0,0,0,0,0,0,0,0,...,-0.059074,-0.013663,0.171465,-0.002466,-0.185372,0.309941,-0.206034,0.011361,-0.265117,6
433,0,0,0,0,0,0,0,0,0,0,...,-0.059074,-0.013663,0.171465,-0.002466,-0.185372,0.309941,-0.206034,0.011361,-0.265117,6
434,0,0,0,0,0,0,0,0,0,0,...,-0.059074,-0.013663,0.171465,-0.002466,-0.185372,0.309941,-0.206034,0.011361,-0.265117,6

In [90]:
J['Potential_Accident_Level'].value_counts()

4    143
3    106
2     95
1     49
5     31
6     11
Name: Potential_Accident_Level, dtype: int64

In [91]:
J.drop('Potential_Accident_Level',axis=1,inplace=True)

In [92]:
X=J

In [93]:
X.shape

(435, 142)

In [94]:
Y=list(y)
len(Y)

425

In [95]:
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)
Y.append(6)

In [96]:
len(Y)

435

In [97]:
y =np.array(Y)

In [98]:
X.columns

Index([ 'Dummy_2',  'Dummy_3',  'Dummy_4',  'Dummy_5',  'Dummy_6',  'Dummy_7',
        'Dummy_8',  'Dummy_9', 'Dummy_10', 'Dummy_11',
       ...
               40,         41,         42,         43,         44,         45,
               46,         47,         48,         49],
      dtype='object', length=142)

In [99]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size = 0.20, random_state = 55)

In [100]:
target1=pd.DataFrame(Y_train)
target1[0].value_counts()

4    119
3     79
2     77
1     39
5     25
6      9
Name: 0, dtype: int64

##### Applying SMOTE for OverSampling of data.

In [101]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE()
x_train,y_train = oversample.fit_resample(X_train.values, Y_train.ravel())

In [102]:
target=pd.DataFrame(y_train)
target[0].value_counts()

6    119
5    119
4    119
3    119
2    119
1    119
Name: 0, dtype: int64

#### Apply RandomForestClassifier using SMOTE

In [103]:
rf2 =  RandomForestClassifier()
rf2.fit(x_train,y_train)
rf2.score(X_test,Y_test)

0.3563218390804598

In [104]:
get_accuracy('RandomForestClassifier SMOTE',rf2.score(X_test,Y_test))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062
4             BaggingClassifier  0.406250
5  RandomForestClassifier SMOTE  0.356322

##### Apply DecisionTreeClassifier using SMOTE

In [105]:
from sklearn.tree import DecisionTreeClassifier

dtree1=DecisionTreeClassifier()
dtree1.fit(x_train,y_train)
dtree1.score(X_test,Y_test)

0.3448275862068966

In [106]:
get_accuracy('DecisionTreeClassifier SMOTE',dtree1.score(X_test,Y_test))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062
4             BaggingClassifier  0.406250
5  RandomForestClassifier SMOTE  0.356322
6  DecisionTreeClassifier SMOTE  0.344828

##### Apply SGDClassifier model using SMOTE

In [107]:
from sklearn.linear_model import SGDClassifier
abc = SGDClassifier()
abc.fit(x_train,y_train)
abc.score(X_test,Y_test)

0.3333333333333333

In [108]:
get_accuracy('SGDClassifier SMOTE',abc.score(X_test,Y_test))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062
4             BaggingClassifier  0.406250
5  RandomForestClassifier SMOTE  0.356322
6  DecisionTreeClassifier SMOTE  0.344828
7           SGDClassifier SMOTE  0.333333

#### Apply BernoulliNB using SMOTE

In [109]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
clf = BernoulliNB()
clf.fit(x_train,y_train)
pred = clf.predict(X_test)
print(accuracy_score(Y_test, pred))

0.47126436781609193

In [110]:
get_accuracy('BernoulliNB SMOTE',accuracy_score(Y_test, pred))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062
4             BaggingClassifier  0.406250
5  RandomForestClassifier SMOTE  0.356322
6  DecisionTreeClassifier SMOTE  0.344828
7           SGDClassifier SMOTE  0.333333
8             BernoulliNB SMOTE  0.471264

#### Apply BaggingClassifier using SMOTE

In [111]:
from sklearn.ensemble import BaggingClassifier
bgcl1=BaggingClassifier()
bgcl1.fit(x_train,y_train)
bgcl1.score(X_test,Y_test)

0.3563218390804598

In [112]:
get_accuracy('BaggingClassifier SMOTE',bgcl1.score(X_test,Y_test))

                          Model  accuracy
0        RandomForestClassifier  0.400000
1  RandomForestClassifier GloVe  0.445312
2        DecisionTreeClassifier  0.421875
3                   BernoulliNB  0.414062
4             BaggingClassifier  0.406250
5  RandomForestClassifier SMOTE  0.356322
6  DecisionTreeClassifier SMOTE  0.344828
7           SGDClassifier SMOTE  0.333333
8             BernoulliNB SMOTE  0.471264
9       BaggingClassifier SMOTE  0.356322

In [113]:
pred = bgcl1.predict(X_test)
print(classification_report(Y_test, pred))

              precision    recall  f1-score   support

           1       0.50      0.60      0.55        10
           2       0.30      0.33      0.32        18
           3       0.37      0.26      0.30        27
           4       0.30      0.29      0.30        24
           5       0.33      0.50      0.40         6
           6       0.50      1.00      0.67         2

    accuracy                           0.36        87
   macro avg       0.38      0.50      0.42        87
weighted avg       0.35      0.36      0.35        87

# Neural Network

In [114]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [115]:
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu', input_dim = 142))

# Adding the second hidden layer
classifier.add(Dense(units = 200, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the second hidden layer
classifier.add(Dense(units = 50, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'softmax'))

In [116]:
train_y = pd.get_dummies(y_train).values

In [117]:
classifier.compile(optimizer = 'rmsprop', loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [118]:
batch_size = 20
classifier.fit(x_train, train_y, epochs = 50, batch_size=batch_size, verbose = 1)

Epoch 1/50
36/36 [==============================] - 1s 1ms/step - loss: 1.7169 - accuracy: 0.3234
Epoch 2/50
36/36 [==============================] - 0s 1ms/step - loss: 1.1672 - accuracy: 0.4864
Epoch 3/50
36/36 [==============================] - 0s 1ms/step - loss: 1.0464 - accuracy: 0.5514
Epoch 4/50
36/36 [==============================] - 0s 1ms/step - loss: 0.8964 - accuracy: 0.6254
Epoch 5/50
36/36 [==============================] - 0s 1ms/step - loss: 0.7986 - accuracy: 0.6620
Epoch 6/50
36/36 [==============================] - 0s 960us/step - loss: 0.7184 - accuracy: 0.6935
Epoch 7/50
36/36 [==============================] - 0s 1ms/step - loss: 0.6683 - accuracy: 0.7359
Epoch 8/50
36/36 [==============================] - 0s 1ms/step - loss: 0.6409 - accuracy: 0.7317
Epoch 9/50
36/36 [==============================] - 0s 1ms/step - loss: 0.6022 - accuracy: 0.7527
Epoch 10/50
36/36 [==============================] - 0s 1ms/step - loss: 0.6102 - accuracy: 0.7440
Epoch 11/50
36/36 [==============================] - 0s 1ms/step - loss: 0.5255 - accuracy: 0.7864
Epoch 12/50
36/36 [==============================] - 0s 1ms/step - loss: 0.5202 - accuracy: 0.7894
Epoch 13/50
36/36 [==============================] - 0s 1ms/step - loss: 0.4790 - accuracy: 0.8062
Epoch 14/50
36/36 [==============================] - 0s 1ms/step - loss: 0.5367 - accuracy: 0.7619
Epoch 15/50
36/36 [==============================] - 0s 1ms/step - loss: 0.4488 - accuracy: 0.7994
Epoch 16/50
36/36 [==============================] - 0s 1ms/step - loss: 0.4362 - accuracy: 0.8167
Epoch 17/50
36/36 [==============================] - 0s 1ms/step - loss: 0.3792 - accuracy: 0.8327
Epoch 18/50
36/36 [==============================] - 0s 1ms/step - loss: 0.3901 - accuracy: 0.8208
Epoch 19/50
36/36 [==============================] - 0s 1ms/step - loss: 0.3124 - accuracy: 0.8639
Epoch 20/50
36/36 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8664
Epoch 21/50
36/36 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8799
Epoch 22/50
36/36 [==============================] - 0s 751us/step - loss: 0.3176 - accuracy: 0.8916
Epoch 23/50
36/36 [==============================] - 0s 943us/step - loss: 0.2829 - accuracy: 0.8874
Epoch 24/50
36/36 [==============================] - 0s 1ms/step - loss: 0.2562 - accuracy: 0.8961
Epoch 25/50
36/36 [==============================] - 0s 1ms/step - loss: 0.2429 - accuracy: 0.9076
Epoch 26/50
36/36 [==============================] - 0s 1ms/step - loss: 0.2482 - accuracy: 0.8989
Epoch 27/50
36/36 [==============================] - 0s 1ms/step - loss: 0.2519 - accuracy: 0.9002
Epoch 28/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1998 - accuracy: 0.9171
Epoch 29/50
36/36 [==============================] - 0s 1ms/step - loss: 0.2329 - accuracy: 0.9100
Epoch 30/50
36/36 [==============================] - 0s 1ms/step - loss: 0.2026 - accuracy: 0.9218
Epoch 31/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1722 - accuracy: 0.9370
Epoch 32/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1564 - accuracy: 0.9450
Epoch 33/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1670 - accuracy: 0.9393
Epoch 34/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1061 - accuracy: 0.9691
Epoch 35/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1359 - accuracy: 0.9505
Epoch 36/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1510 - accuracy: 0.9445
Epoch 37/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1085 - accuracy: 0.9618
Epoch 38/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1029 - accuracy: 0.9659
Epoch 39/50
36/36 [==============================] - 0s 1ms/step - loss: 0.0896 - accuracy: 0.9749
Epoch 40/50
36/36 [==============================] - 0s 1ms/step - loss: 0.1055 - accuracy: 0.9492
Epoch 41/50
36/36 [==============================] - 0s 1ms/step - loss: 0.0741 - accuracy: 0.9698
Epoch 42/50
36/36 [==============================] - 0s 1ms/step - loss: 0.0667 - accuracy: 0.9783
Epoch 43/50
36/36 [==============================] - 0s 1ms/step - loss: 0.0535 - accuracy: 0.9808
Epoch 44/50
36/36 [==============================] - 0s 1ms/step - loss: 0.0518 - accuracy: 0.9917
Epoch 45/50
36/36 [==============================] - 0s 1ms/step - loss: 0.0585 - accuracy: 0.9823
Epoch 46/50
36/36 [==============================] - 0s 822us/step - loss: 0.0388 - accuracy: 0.9884
Epoch 47/50
36/36 [==============================] - 0s 756us/step - loss: 0.0250 - accuracy: 0.9967
Epoch 48/50
36/36 [==============================] - 0s 786us/step - loss: 0.0264 - accuracy: 0.9971
Epoch 49/50
36/36 [==============================] - 0s 777us/step - loss: 0.0379 - accuracy: 0.9901
Epoch 50/50
36/36 [==============================] - 0s 779us/step - loss: 0.0315 - accuracy: 0.9838

In [119]:
y_pred = classifier.predict(X_test)

In [120]:
x,_=classifier.evaluate(X_test,y_pred)

3/3 [==============================] - 0s 1ms/step - loss: 0.2970 - accuracy: 1.0000

In [121]:
get_accuracy('Neural Network',x)

                           Model  accuracy
0         RandomForestClassifier  0.400000
1   RandomForestClassifier GloVe  0.445312
2         DecisionTreeClassifier  0.421875
3                    BernoulliNB  0.414062
4              BaggingClassifier  0.406250
5   RandomForestClassifier SMOTE  0.356322
6   DecisionTreeClassifier SMOTE  0.344828
7            SGDClassifier SMOTE  0.333333
8              BernoulliNB SMOTE  0.471264
9        BaggingClassifier SMOTE  0.356322
10                Neural Network  0.297043

In [122]:
print(classification_report(Y_test, y_pred.argmax(axis=1)))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       0.10      0.20      0.13        10
           2       0.36      0.50      0.42        18
           3       0.33      0.30      0.31        27
           4       0.17      0.04      0.07        24
           5       0.00      0.00      0.00         6
           6       0.00      0.00      0.00         2

    accuracy                           0.23        87
   macro avg       0.14      0.15      0.13        87
weighted avg       0.24      0.23      0.22        87

/Users/nebula/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/nebula/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [123]:
t

                           Model  accuracy
0         RandomForestClassifier  0.400000
1   RandomForestClassifier GloVe  0.445312
2         DecisionTreeClassifier  0.421875
3                    BernoulliNB  0.414062
4              BaggingClassifier  0.406250
5   RandomForestClassifier SMOTE  0.356322
6   DecisionTreeClassifier SMOTE  0.344828
7            SGDClassifier SMOTE  0.333333
8              BernoulliNB SMOTE  0.471264
9        BaggingClassifier SMOTE  0.356322
10                Neural Network  0.297043

#### Tunning the Neural Network Model.

In [124]:
from tensorflow.keras import regularizers
from keras.layers import BatchNormalization, Dropout
from tensorflow.keras.layers import Activation
from tensorflow.keras import optimizers
def mlp_model():
  model = Sequential()

  model.add(Dense(256, input_dim=142, kernel_initializer='he_normal'))
  model.add(BatchNormalization())
  model.add(Activation('relu'))
  model.add(Dropout(0.2))
  model.add(Dense(256, kernel_initializer='he_normal'))
  model.add(BatchNormalization())
  model.add(Activation('relu'))
  model.add(Dropout(0.2))
  model.add(Dense(256, kernel_initializer='he_normal'))
  model.add(BatchNormalization())
  model.add(Activation('relu'))
  model.add(Dropout(0.2))
  model.add(Dense(256, kernel_initializer='he_normal'))
  model.add(BatchNormalization())
  model.add(Activation('relu'))
  model.add(Dropout(0.2))
  model.add(Dense(6, kernel_initializer='he_normal',kernel_regularizer = regularizers.l2(0.0005650011028133052)))
  model.add(Activation('softmax'))

  adam = optimizers.Adam(lr =0.01714453879813377)
  model.compile(optimizer = adam, loss = 'categorical_crossentropy', metrics = ['accuracy'])
  
  return model

In [125]:
model = mlp_model()
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 256)               36608
_________________________________________________________________
batch_normalization (BatchNo (None, 256)               1024
_________________________________________________________________
activation (Activation)      (None, 256)               0
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense_5 (Dense)              (None, 256)               65792
_________________________________________________________________
batch_normalization_1 (Batch (None, 256)               1024
_________________________________________________________________
activation_1 (Activation)    (None, 256)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 256)               65792
_________________________________________________________________
batch_normalization_2 (Batch (None, 256)               1024
_________________________________________________________________
activation_2 (Activation)    (None, 256)               0
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_7 (Dense)              (None, 256)               65792
_________________________________________________________________
batch_normalization_3 (Batch (None, 256)               1024
_________________________________________________________________
activation_3 (Activation)    (None, 256)               0
_________________________________________________________________
dropout_3 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_8 (Dense)              (None, 6)                 1542
_________________________________________________________________
activation_4 (Activation)    (None, 6)                 0
=================================================================
Total params: 239,622
Trainable params: 237,574
Non-trainable params: 2,048
_________________________________________________________________

In [126]:
history = model.fit(x_train, train_y, epochs = 100, verbose=1)

Epoch 1/100
23/23 [==============================] - 1s 3ms/step - loss: 1.6804 - accuracy: 0.4365
Epoch 2/100
23/23 [==============================] - 0s 3ms/step - loss: 0.7845 - accuracy: 0.6664
Epoch 3/100
23/23 [==============================] - 0s 3ms/step - loss: 0.6009 - accuracy: 0.7633
Epoch 4/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4615 - accuracy: 0.8062
Epoch 5/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5038 - accuracy: 0.8449
Epoch 6/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.9160
Epoch 7/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3921 - accuracy: 0.8859
Epoch 8/100
23/23 [==============================] - 0s 2ms/step - loss: 0.2225 - accuracy: 0.9182
Epoch 9/100
23/23 [==============================] - 0s 2ms/step - loss: 0.2053 - accuracy: 0.9365
Epoch 10/100
23/23 [==============================] - 0s 2ms/step - loss: 0.2796 - accuracy: 0.9085
Epoch 11/100
23/23 [==============================] - 0s 3ms/step - loss: 0.2786 - accuracy: 0.9140
Epoch 12/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1897 - accuracy: 0.9430
Epoch 13/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1413 - accuracy: 0.9599
Epoch 14/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1513 - accuracy: 0.9510
Epoch 15/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1091 - accuracy: 0.9710
Epoch 16/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1477 - accuracy: 0.9592
Epoch 17/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1466 - accuracy: 0.9670
Epoch 18/100
23/23 [==============================] - 0s 2ms/step - loss: 0.2348 - accuracy: 0.9295
Epoch 19/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0987 - accuracy: 0.9772
Epoch 20/100
23/23 [==============================] - 0s 2ms/step - loss: 0.2125 - accuracy: 0.9559
Epoch 21/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1183 - accuracy: 0.9574
Epoch 22/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1379 - accuracy: 0.9692
Epoch 23/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1292 - accuracy: 0.9674
Epoch 24/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0714 - accuracy: 0.9853
Epoch 25/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0724 - accuracy: 0.9773
Epoch 26/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1945 - accuracy: 0.9729
Epoch 27/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1519 - accuracy: 0.9626
Epoch 28/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1742 - accuracy: 0.9575
Epoch 29/100
23/23 [==============================] - 0s 4ms/step - loss: 0.1602 - accuracy: 0.9488
Epoch 30/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1144 - accuracy: 0.9651
Epoch 31/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0749 - accuracy: 0.9836
Epoch 32/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0937 - accuracy: 0.9750
Epoch 33/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1146 - accuracy: 0.9727
Epoch 34/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1482 - accuracy: 0.9498
Epoch 35/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0818 - accuracy: 0.9793
Epoch 36/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0621 - accuracy: 0.9860
Epoch 37/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0619 - accuracy: 0.9851
Epoch 38/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0582 - accuracy: 0.9858
Epoch 39/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0931 - accuracy: 0.9771
Epoch 40/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0616 - accuracy: 0.9816
Epoch 41/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0577 - accuracy: 0.9883
Epoch 42/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0653 - accuracy: 0.9886
Epoch 43/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1000 - accuracy: 0.9729
Epoch 44/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0366 - accuracy: 0.9917
Epoch 45/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1122 - accuracy: 0.9761
Epoch 46/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1945 - accuracy: 0.9441
Epoch 47/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1274 - accuracy: 0.9578
Epoch 48/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1513 - accuracy: 0.9704
Epoch 49/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0727 - accuracy: 0.9862
Epoch 50/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0863 - accuracy: 0.9830
Epoch 51/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1592 - accuracy: 0.9579
Epoch 52/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1739 - accuracy: 0.9440
Epoch 53/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1016 - accuracy: 0.9707
Epoch 54/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0912 - accuracy: 0.9878
Epoch 55/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0945 - accuracy: 0.9802
Epoch 56/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1152 - accuracy: 0.9683
Epoch 57/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0937 - accuracy: 0.9751
Epoch 58/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0536 - accuracy: 0.9852
Epoch 59/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0727 - accuracy: 0.9795
Epoch 60/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1096 - accuracy: 0.9655
Epoch 61/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0676 - accuracy: 0.9853
Epoch 62/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0418 - accuracy: 0.9901
Epoch 63/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0869 - accuracy: 0.9864
Epoch 64/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0432 - accuracy: 0.9942
Epoch 65/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0469 - accuracy: 0.9922
Epoch 66/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0916 - accuracy: 0.9777
Epoch 67/100
23/23 [==============================] - 0s 4ms/step - loss: 0.1185 - accuracy: 0.9656
Epoch 68/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1085 - accuracy: 0.9724
Epoch 69/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0983 - accuracy: 0.9720
Epoch 70/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0390 - accuracy: 0.9942
Epoch 71/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0292 - accuracy: 0.9977
Epoch 72/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1034 - accuracy: 0.9791
Epoch 73/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0528 - accuracy: 0.9898
Epoch 74/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0553 - accuracy: 0.9883
Epoch 75/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1181 - accuracy: 0.9691
Epoch 76/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0657 - accuracy: 0.9822
Epoch 77/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0418 - accuracy: 0.9865
Epoch 78/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0352 - accuracy: 0.9938
Epoch 79/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0310 - accuracy: 0.9941
Epoch 80/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0559 - accuracy: 0.9877
Epoch 81/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0529 - accuracy: 0.9850
Epoch 82/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0693 - accuracy: 0.9831
Epoch 83/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0295 - accuracy: 0.9947
Epoch 84/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0482 - accuracy: 0.9913
Epoch 85/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0457 - accuracy: 0.9936
Epoch 86/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0410 - accuracy: 0.9929
Epoch 87/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0381 - accuracy: 0.9919
Epoch 88/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0392 - accuracy: 0.9939
Epoch 89/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0357 - accuracy: 0.9931
Epoch 90/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0552 - accuracy: 0.9902
Epoch 91/100
23/23 [==============================] - 0s 3ms/step - loss: 0.1046 - accuracy: 0.9817
Epoch 92/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0655 - accuracy: 0.9876
Epoch 93/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0712 - accuracy: 0.9767
Epoch 94/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0440 - accuracy: 0.9973
Epoch 95/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0422 - accuracy: 0.9940
Epoch 96/100
23/23 [==============================] - 0s 2ms/step - loss: 0.0972 - accuracy: 0.9827
Epoch 97/100
23/23 [==============================] - 0s 2ms/step - loss: 0.1206 - accuracy: 0.9745
Epoch 98/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0383 - accuracy: 0.9968
Epoch 99/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0315 - accuracy: 0.9988
Epoch 100/100
23/23 [==============================] - 0s 3ms/step - loss: 0.0490 - accuracy: 0.9930

In [127]:
y_pred = model.predict(X_test)

In [128]:
x,_=model.evaluate(X_test,y_pred)

3/3 [==============================] - 0s 2ms/step - loss: 0.2855 - accuracy: 1.0000

In [129]:
get_accuracy('Neural Network tune',x)

                           Model  accuracy
0         RandomForestClassifier  0.400000
1   RandomForestClassifier GloVe  0.445312
2         DecisionTreeClassifier  0.421875
3                    BernoulliNB  0.414062
4              BaggingClassifier  0.406250
5   RandomForestClassifier SMOTE  0.356322
6   DecisionTreeClassifier SMOTE  0.344828
7            SGDClassifier SMOTE  0.333333
8              BernoulliNB SMOTE  0.471264
9        BaggingClassifier SMOTE  0.356322
10                Neural Network  0.297043
11           Neural Network tune  0.285455

In [130]:
t

                           Model  accuracy
0         RandomForestClassifier  0.400000
1   RandomForestClassifier GloVe  0.445312
2         DecisionTreeClassifier  0.421875
3                    BernoulliNB  0.414062
4              BaggingClassifier  0.406250
5   RandomForestClassifier SMOTE  0.356322
6   DecisionTreeClassifier SMOTE  0.344828
7            SGDClassifier SMOTE  0.333333
8              BernoulliNB SMOTE  0.471264
9        BaggingClassifier SMOTE  0.356322
10                Neural Network  0.297043
11           Neural Network tune  0.285455

In [131]:
t.to_csv('Modelaccuracy.csv')