In [37]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv('Data_set.csv')

In [39]:
df.head(3)

,Unnamed: 0,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...

In [40]:
df['Critical Risk'].unique()

array(['Pressed', 'Pressurized Systems', 'Manual Tools', 'Others',
       'Fall prevention (same level)', 'Chemical substances',
       'Liquid Metal', 'Electrical installation', 'Confined space',
       'Pressurized Systems / Chemical Substances',
       'Blocking and isolation of energies', 'Suspended Loads', 'Poll',
       'Cut', 'Fall', 'Bees', 'Fall prevention', '\nNot applicable',
       'Traffic', 'Projection', 'Venomous Animals', 'Plates',
       'Projection/Burning', 'remains of choco',
       'Vehicles and Mobile Equipment', 'Projection/Choco',
       'Machine Protection', 'Power lock', 'Burn',
       'Projection/Manual Tools', 'Individual protection equipment',
       'Electrical Shock', 'Projection of fragments'], dtype=object)

<span style="color:green;font-weight:bold; font-size:1.5em">Extracting Dates from the text<span>

In [41]:
year =[]
month =[]
date=[]
for x in range(df.shape[0]):
    h = df['Data'][x].split()
    k = h[0].split('-')
    year.append(int(k[0]))
    month.append(int(k[1]))
    date.append(int(k[2]))

<span style="color:green;font-weight:bold; font-size:2em">Creating a DataFrame of Dates which will be concated with main DataFrame<span>

In [42]:
dates = list(zip(year,month,date))
df_date = pd.DataFrame(dates, columns = ['Year','Month','Date'])
df_date

     Year  Month  Date
0    2016      1     1
1    2016      1     2
2    2016      1     6
3    2016      1     8
4    2016      1    10
..    ...    ...   ...
420  2017      7     4
421  2017      7     4
422  2017      7     5
423  2017      7     6
424  2017      7     9

[425 rows x 3 columns]

In [43]:
df_new =pd.concat([df,df_date],axis=1)

<span style="color:green;font-weight:bold; font-size:2em">Concating the Date with main DataFrame and dropping the unwanted columns<span>

In [44]:
df_new.drop(['Unnamed: 0','Data','Accident Level'],axis=1,inplace=True)

In [45]:
Potential_Accident_Level = {
    'I'   :   1,
    'II'  :   2,
    'III' :   3,
    'IV'  :   4,
    'V'   :   5,
    'VI'  :   6
}

In [46]:
Month_Modified = {
    
    1   :  'January',
    2   :  'February',
    3   :  'March',
    4   :  'April',
    5   :  'May',
    6   :  'June',
    7   :  'July',
    8   :  'August',
    9   :  'September',
    10  :  'October',
    11  :  'November',
    12  :  'December'
    
}

<span style="color:green;font-weight:bold; font-size:2em">Converting the Month Names and Potential Accident levels and dropping the original columns<span>

In [47]:
df_new['Potential_Accident_Level'] = df_new['Potential Accident Level'].map(Potential_Accident_Level)
df_new['Month_Modified'] = df_new['Month'].map(Month_Modified)

In [48]:
df_new.drop(['Potential Accident Level','Month'],axis=1,inplace=True)

<span style="color:green;font-weight:bold; font-size:2em">Converting the Day and Year into string because we will cocatenate them with the description<span>

In [84]:
df_new['Year'] = df_new['Year'].astype(str)
df_new['Date'] = df_new['Date'].astype(str)

<span style="color:green;font-weight:bold; font-size:2em">Extracting the Y Column and dropping it from our main DataFrame<span>

In [50]:
y=df_new['Potential_Accident_Level']
df_new.drop('Potential_Accident_Level', axis=1, inplace=True)

<span style="color:green;font-weight:bold; font-size:1em">In the below cell, we are just adding an extra SPACE at the end of each value of a cell in a row. This will be useful when at the end we will club all these values of cells of a row together. There is no immediate use of this. But when we will sum all the values of dataframes, this will play an important role as it will put space after each word<span>

In [51]:
for x in df_new.columns:
    df_new[x] = df_new[x] + ' '

<span style="color:green;font-weight:bold; font-size:1em">First, we will separate only the description part of our main Dataframe, we will clean it. Then we will add all other columns to this column to form a single column description or our X value<span>

In [52]:
df_new['Description']

0      While removing the drill rod of the Jumbo 08 f...
1      During the activation of a sodium sulphide pum...
2      In the sub-station MILPO located at level +170...
3      Being 9:45 am. approximately in the Nv. 1880 C...
4      Approximately at 11:45 a.m. in circumstances t...
                             ...
420    Being approximately 5:00 a.m. approximately, w...
421    The collaborator moved from the infrastructure...
422    During the environmental monitoring activity i...
423    The Employee performed the activity of strippi...
424    At 10:00 a.m., when the assistant cleaned the ...
Name: Description, Length: 425, dtype: object

<span style="color:green;font-weight:bold; font-size:2em">Preparing a function to clean the tweets or input string. <span>

<span style="color:red;font-weight:bold; font-size:em">Note:- The output of this function will be the a list of words as the sentence will be broken down after cleaning. So we will have to join those words to form the sentence<span>

In [53]:
import string
import re
import os
import nltk

from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords, twitter_samples 

tweet_tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)

stopwords_english = stopwords.words('english')


def process_tweet(tweet):
    '''
    Input: 
        tweet: a string containing a tweet
    Output:
        tweets_clean: a list of words containing the processed tweet
    
    '''
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
    #remove numbers
    tweet = re.sub(r'\d+', '', tweet)
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    # tokenize tweets
    tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)
    tweet_tokens = tokenizer.tokenize(tweet)
    ### START CODE HERE ###
    tweets_clean = []
    for word in tweet_tokens:
        if (word not in stopwords_english and # remove stopwords
            word not in string.punctuation): # remove punctuation
            #tweets_clean.append(word)
            tweets_clean.append(word)
    ### END CODE HERE ###
    return tweets_clean

In [54]:
desc_list = []
for x in df_new['Description']:
        desc_list.append(process_tweet(x))

<span style="color:red;font-weight:bold; font-size:1em">Joining the words to form a sentence<span>

In [55]:
desc_list1 = []
for x in desc_list:
    desc_list1.append(' '.join(x))

In [56]:
desc_list1[0]

'removing drill rod jumbo maintenance supervisor proceeds loosen support intermediate centralizer facilitate removal seeing mechanic supports one end drill equipment pull hands bar accelerate removal moment bar slides point support tightens fingers mechanic drilling bar beam jumbo'

<span style="color:red;font-weight:bold; font-size:1em">Converting the above list into DataFrame<span>

In [57]:
df1 = pd.DataFrame({'New_Description':desc_list1})

In [58]:
df1

                                       New_Description
0    removing drill rod jumbo maintenance superviso...
1    activation sodium sulphide pump piping uncoupl...
2    sub-station milpo located level collaborator e...
3    approximately nv cx ob personnel begins task u...
4    approximately circumstances mechanics anthony ...
..                                                 ...
420  approximately approximately lifting kelly hq t...
421  collaborator moved infrastructure office julio...
422  environmental monitoring activity area employe...
423  employee performed activity stripping cathodes...
424  assistant cleaned floor module e central camp ...

[425 rows x 1 columns]

<span style="color:green;font-weight:bold; font-size:em">Important thing to note here is that the above dataframe is just the description part of our main DataFrame. So, we need to concat the above DataFrame into our main dataframe, then add all the columns to form one single description <span>

In [59]:
df1 = pd.concat([df_new,df1],axis=1)

In [60]:
df1.head(2)

,Countries,Local,Industry Sector,Genre,Employee or Third Party,Critical Risk,Description,Year,Date,Month_Modified,New_Description
0,Country_01,Local_01,Mining,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,January,removing drill rod jumbo maintenance superviso...
1,Country_02,Local_02,Mining,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,2,January,activation sodium sulphide pump piping uncoupl...

In [61]:
df1.drop('Description',axis=1,inplace=True)

In [62]:
df1.head(2)

,Countries,Local,Industry Sector,Genre,Employee or Third Party,Critical Risk,Year,Date,Month_Modified,New_Description
0,Country_01,Local_01,Mining,Male,Third Party,Pressed,2016,1,January,removing drill rod jumbo maintenance superviso...
1,Country_02,Local_02,Mining,Male,Employee,Pressurized Systems,2016,2,January,activation sodium sulphide pump piping uncoupl...

<span style="color:green;font-weight:bold; font-size:1em">Here, we are adding all the values of a dataframe and storing it in the column 'Description'<span>

In [63]:
df1['Description'] = df1.sum(axis=1)
df1.head(2)

,Countries,Local,Industry Sector,Genre,Employee or Third Party,Critical Risk,Year,Date,Month_Modified,New_Description,Description
0,Country_01,Local_01,Mining,Male,Third Party,Pressed,2016,1,January,removing drill rod jumbo maintenance superviso...,Country_01 Local_01 Mining Male Third Party Pr...
1,Country_02,Local_02,Mining,Male,Employee,Pressurized Systems,2016,2,January,activation sodium sulphide pump piping uncoupl...,Country_02 Local_02 Mining Male Employee Press...

<span style="color:green;font-weight:bold; font-size:em">Going forward, this forms our X value. We will convert these words to tensor and feed to the LSTM Model<span>

In [64]:
df1['Description'][0]

'Country_01 Local_01 Mining Male Third Party Pressed 2016 1 January removing drill rod jumbo maintenance supervisor proceeds loosen support intermediate centralizer facilitate removal seeing mechanic supports one end drill equipment pull hands bar accelerate removal moment bar slides point support tightens fingers mechanic drilling bar beam jumbo'

<span style="color:green;font-weight:bold; font-size:2em">Extracting total Vocabulary words<span>

In [65]:
# Build the vocabulary
# Unit Test Note - There is no test set here only train/val

# Include special tokens 
# started with pad, end of line and unk tokens
Vocab = {'__PAD__': 0, '__</e>__': 1, '__UNK__': 2} 

# Note that we build vocab using training data
for sentence in df1['Description']: 
    for word in sentence.split():
        if word not in Vocab: 
            Vocab[word] = len(Vocab)
    
print("Total words in vocab are",len(Vocab))
display(Vocab)

Total words in vocab are 3173

{'__PAD__': 0,
 '__</e>__': 1,
 '__UNK__': 2,
 'Country_01': 3,
 'Local_01': 4,
 'Mining': 5,
 'Male': 6,
 'Third': 7,
 'Party': 8,
 'Pressed': 9,
 '2016': 10,
 '1': 11,
 'January': 12,
 'removing': 13,
 'drill': 14,
 'rod': 15,
 'jumbo': 16,
 'maintenance': 17,
 'supervisor': 18,
 'proceeds': 19,
 'loosen': 20,
 'support': 21,
 'intermediate': 22,
 'centralizer': 23,
 'facilitate': 24,
 'removal': 25,
 'seeing': 26,
 'mechanic': 27,
 'supports': 28,
 'one': 29,
 'end': 30,
 'equipment': 31,
 'pull': 32,
 'hands': 33,
 'bar': 34,
 'accelerate': 35,
 'moment': 36,
 'slides': 37,
 'point': 38,
 'tightens': 39,
 'fingers': 40,
 'drilling': 41,
 'beam': 42,
 'Country_02': 43,
 'Local_02': 44,
 'Employee': 45,
 'Pressurized': 46,
 'Systems': 47,
 '2': 48,
 'activation': 49,
 'sodium': 50,
 'sulphide': 51,
 'pump': 52,
 'piping': 53,
 'uncoupled': 54,
 'sulfide': 55,
 'solution': 56,
 'designed': 57,
 'area': 58,
 'reach': 59,
 'maid': 60,
 'immediately': 61,
 'made': 62,
 'use': 63,
 'emergency': 64,
 'shower': 65,
 'directed': 66,
 'ambulatory': 67,
 'doctor': 68,
 'later': 69,
 'hospital': 70,
 'note': 71,
 'grams': 72,
 'liter': 73,
 'Local_03': 74,
 '(Remote)': 75,
 'Manual': 76,
 'Tools': 77,
 '6': 78,
 'sub-station': 79,
 'milpo': 80,
 'located': 81,
 'level': 82,
 'collaborator': 83,
 'excavation': 84,
 'work': 85,
 'pick': 86,
 'hand': 87,
 'tool': 88,
 'hitting': 89,
 'rock': 90,
 'flat': 91,
 'part': 92,
 'beak': 93,
 'bounces': 94,
 'steel': 95,
 'tip': 96,
 'safety': 97,
 'shoe': 98,
 'metatarsal': 99,
 '\u200b': 100,
 'left': 101,
 'foot': 102,
 'causing': 103,
 'injury': 104,
 'Local_04': 105,
 'Others': 106,
 '8': 107,
 'approximately': 108,
 'nv': 109,
 'cx': 110,
 'ob': 111,
 'personnel': 112,
 'begins': 113,
 'task': 114,
 'unlocking': 115,
 'soquet': 116,
 'bolts': 117,
 'bhb': 118,
 'machine': 119,
 'penultimate': 120,
 'bolt': 121,
 'identified': 122,
 'hexagonal': 123,
 'head': 124,
 'worn': 125,
 'proceeding': 126,
 'mr': 127,
 'cristÃ³bal': 128,
 'auxiliary': 129,
 'assistant': 130,
 'climb': 131,
 'platform': 132,
 'exert': 133,
 'pressure': 134,
 'dado': 135,
 'key': 136,
 'prevent': 137,
 'coming': 138,
 'moments': 139,
 'two': 140,
 'collaborators': 141,
 'rotate': 142,
 'lever': 143,
 'anti-clockwise': 144,
 'direction': 145,
 'leaving': 146,
 'palm': 147,
 '10': 148,
 'circumstances': 149,
 'mechanics': 150,
 'anthony': 151,
 'group': 152,
 'leader': 153,
 'eduardo': 154,
 'eric': 155,
 'fernÃ¡ndez-injured-the': 156,
 'three': 157,
 'company': 158,
 'impromec': 159,
 'performed': 160,
 'pulley': 161,
 'motor': 162,
 'zaf': 163,
 'marcy': 164,
 'cm': 165,
 'length': 166,
 'weight': 167,
 'kg': 168,
 'locked': 169,
 'proceed': 170,
 'heating': 171,
 'comes': 172,
 'falls': 173,
 'distance': 174,
 'meters': 175,
 'high': 176,
 'hits': 177,
 'instep': 178,
 'right': 179,
 'worker': 180,
 'described': 181,
 'Local_05': 182,
 'Metals': 183,
 '12': 184,
 'unloading': 185,
 'operation': 186,
 'ustulado': 187,
 'bag': 188,
 'need': 189,
 'unclog': 190,
 'discharge': 191,
 'mouth': 192,
 'silo': 193,
 'truck': 194,
 'performing': 195,
 'procedure': 196,
 'maneuver': 197,
 'unhooking': 198,
 'hose': 199,
 'without': 200,
 'total': 201,
 'depressurisation': 202,
 'projecting': 203,
 'powder': 204,
 'caused': 205,
 'irritation': 206,
 'eyes': 207,
 'Fall': 208,
 'prevention': 209,
 '(same': 210,
 'level)': 211,
 '16': 212,
 'reports': 213,
 'street': 214,
 'holding': 215,
 'volumetric': 216,
 'balloon': 217,
 'slipped': 218,
 'placing': 219,
 'ground': 220,
 'ended': 221,
 'breaking': 222,
 'small': 223,
 'wound': 224,
 '17': 225,
 'p': 226,
 'technician': 227,
 'josÃ©': 228,
 'tecnomin': 229,
 'verified': 230,
 'transmission': 231,
 'belts': 232,
 'hm': 233,
 'acid': 234,
 'plant': 235,
 'proceeded': 236,
 'turn': 237,
 'manually': 238,
 'unexpectedly': 239,
 'instant': 240,
 'electrician': 241,
 'miguel': 242,
 'eka': 243,
 'mining': 244,
 'grabs': 245,
 'verify': 246,
 'tension': 247,
 'finger': 248,
 'traps': 249,
 '19': 250,
 'employee': 251,
 'sitting': 252,
 'resting': 253,
 'raise': 254,
 'bore': 255,
 'suffered': 256,
 'sudden': 257,
 'illness': 258,
 'falling': 259,
 'suffering': 260,
 'excoriation': 261,
 'face': 262,
 'Local_06': 263,
 'Chemical': 264,
 'substances': 265,
 '26': 266,
 'forklift': 267,
 'operator': 268,
 'went': 269,
 'manipulate': 270,
 'big': 271,
 'bioxide': 272,
 'section': 273,
 'front': 274,
 'ladder': 275,
 'leads': 276,
 'manual': 277,
 'displacement': 278,
 'splashed': 279,
 'spent': 280,
 'height': 281,
 'forehead': 282,
 'fissure': 283,
 'pipe': 284,
 'g': 285,
 'subsequently': 286,
 'spilling': 287,
 'eye': 288,
 'nearby': 289,
 'eyewash': 290,
 'cleaning': 291,
 'medical': 292,
 'center': 293,
 '28': 294,
 'installing': 295,
 'segment': 296,
 'polyurethane': 297,
 'protective': 298,
 'lyner': 299,
 'xxcm': 300,
 'weighing': 301,
 'ore': 302,
 'winch': 303,
 'rotated': 304,
 'compress': 305,
 'inside': 306,
 'channel': 307,
 'housing': 308,
 'rubbing': 309,
 'side': 310,
 "worker's": 311,
 'hip': 312,
 'generating': 313,
 '30': 314,
 'preparing': 315,
 'rice': 316,
 'lunch': 317,
 'day': 318,
 'moving': 319,
 'pot': 320,
 'including': 321,
 'contents': 322,
 'evacuate': 323,
 'residual': 324,
 'water': 325,
 'cooking': 326,
 'positioning': 327,
 'jaba': 328,
 'tilts': 329,
 'backwards': 330,
 'ml': 331,
 'hot': 332,
 "cook's": 333,
 'leg': 334,
 'cook': 335,
 'event': 336,
 'applies': 337,
 'first': 338,
 'aid': 339,
 'pouring': 340,
 'cold': 341,
 'go': 342,
 'post': 343,
 'evaluation': 344,
 'Liquid': 345,
 'Metal': 346,
 'February': 347,
 'working': 348,
 'ustulaciÃ³n': 349,
 'realized': 350,
 'cyclone': 351,
 'duct': 352,
 'obstructed': 353,
 'opened': 354,
 'door': 355,
 'try': 356,
 'material': 357,
 'detached': 358,
 'projected': 359,
 'towards': 360,
 'burn': 361,
 'heel': 362,
 'Electrical': 363,
 'installation': 364,
 'tried': 365,
 'energize': 366,
 'split': 367,
 'set': 368,
 'intersection': 369,
 'remove': 370,
 'lock': 371,
 'opening': 372,
 'electric': 373,
 'board': 374,
 'v': 375,
 'lifting': 376,
 'thermomagnetic': 377,
 'makes': 378,
 'phase': 379,
 'contact': 380,
 'panel': 381,
 'shell': 382,
 'producing': 383,
 'flash': 384,
 'reaches': 385,
 'Confined': 386,
 'space': 387,
 '4': 388,
 'due': 389,
 'accumulation': 390,
 'waelz': 391,
 'conveyor': 392,
 'trailer': 393,
 'filter': 394,
 'fi': 395,
 'shutter': 396,
 'using': 397,
 'air': 398,
 'lance': 399,
 'surprised': 400,
 'fall': 401,
 'product': 402,
 'passing': 403,
 'neck': 404,
 'collar': 405,
 'aramid': 406,
 'jacket': 407,
 'shoulder': 408,
 'thermal': 409,
 'shock': 410,
 'splash': 411,
 'zinc': 412,
 'despite': 413,
 'indicated': 414,
 'ppe': 415,
 'hit': 416,
 'spatters': 417,
 'passed': 418,
 'facila': 419,
 'hood': 420,
 'region': 421,
 'rp': 422,
 'workers': 423,
 'diamond': 424,
 'assistants': 425,
 'jhonatan': 426,
 'injured': 427,
 'nilton': 428,
 'increase': 429,
 'hq': 430,
 'perforation': 431,
 'scaffolding': 432,
 'lifts': 433,
 'tube': 434,
 'frame': 435,
 'position': 436,
 'upper': 437,
 'striking': 438,
 'lateral': 439,
 'Female': 440,
 '7': 441,
 'overheating': 442,
 'bars': 443,
 'row': 444,
 'cell': 445,
 'spark': 446,
 'produced': 447,
 'manages': 448,
 'chief': 449,
 'guard': 450,
 'corridor': 451,
 'degree': 452,
 'wheel': 453,
 'cathode': 454,
 'crane': 455,
 'changed': 456,
 'bearing': 457,
 'heated': 458,
 'hammer': 459,
 'chisel': 460,
 'track': 461,
 'detachment': 462,
 'piece': 463,
 'occurred': 464,
 'impacting': 465,
 'thigh': 466,
 'cut': 467,
 'ambulance': 468,
 'called': 469,
 'transferred': 470,
 'clinic': 471,
 '21': 472,
 'manuel': 473,
 'making': 474,
 'disconnection': 475,
 'power': 476,
 'cables': 477,
 'gate': 478,
 'manco': 479,
 'streets': 480,
 'cajamarquilla': 481,
 'order': 482,
 'rope': 483,
 'tied': 484,
 'body': 485,
 'yields': 486,
 'pulling': 487,
 'warning': 488,
 'helmet': 489,
 'standing': 490,
 '25': 491,
 'samuel': 492,
 'open': 493,
 'container': 494,
 'subsequent': 495,
 'loading': 496,
 'silver': 497,
 'concentrate': 498,
 'afterwards': 499,
 'tries': 500,
 'second': 501,
 'latter': 502,
 'opens': 503,
 'impacts': 504,
 'handle': 505,
 'lens': 506,
 'generates': 507,
 'cheekbone': 508,
 '9': 509,
 'chamber': 510,
 'removed': 511,
 'r': 512,
 'approx': 513,
 'top': 514,
 'tm': 515,
 'stroke': 516,
 'assisted': 517,
 'jibs': 518,
 'move': 519,
 'horizontally': 520,
 "operator's": 521,
 'jib': 522,
 'bottom': 523,
 "assistant's": 524,
 'enforce': 525,
 'piston': 526,
 'aligning': 527,
 'bracket': 528,
 'tower': 529,
 'n': 530,
 'Â°': 531,
 'releasing': 532,
 'applied': 533,
 'tirford': 534,
 'tn': 535,
 'pushing': 536,
 'release': 537,
 'returns': 538,
 'mechanical': 539,
 'effect': 540,
 'overcoming': 541,
 'resistance': 542,
 'lineman': 543,
 'reshaping': 544,
 'beating': 545,
 'frontal': 546,
 '15': 547,
 'loosening': 548,
 "truck's": 549,
 'steering': 550,
 'cylinder': 551,
 'cable': 552,
 'socket': 553,
 'force': 554,
 'exerted': 555,
 'favor': 556,
 'suddenly': 557,
 'retired': 558,
 'structure': 559,
 '14': 560,
 'deslaminadora': 561,
 'sheet': 562,
 'stuck': 563,
 'enter': 564,
 'slide': 565,
 'stacking': 566,
 'table': 567,
 'requires': 568,
 'mollares': 569,
 'helps': 570,
 'hold': 571,
 'place': 572,
 'entry': 573,
 'chute': 574,
 'blade': 575,
 'tilted': 576,
 'brushed': 577,
 "mollares's": 578,
 'willing': 579,
 'displace': 580,
 'adhered': 581,
 'aluminum': 582,
 'released': 583,
 'bending': 584,
 'grazing': 585,
 "collaborator's": 586,
 'cuts': 587,
 'knuckles': 588,
 'gloves': 589,
 'leather': 590,
 'unit': 591,
 '13': 592,
 'enabled': 593,
 'winche': 594,
 'control': 595,
 'room': 596,
 'gets': 597,
 'short': 598,
 'walk': 599,
 'slips': 600,
 'sits': 601,
 'floor': 602,
 'knee': 603,
 'taking': 604,
 'importance': 605,
 'rest': 606,
 'finished': 607,
 'goes': 608,
 'communicates': 609,
 'fact': 610,
 'reason': 611,
 'derived': 612,
 'natclar': 613,
 'attention': 614,
 'break': 615,
 'ramp': 616,
 'access': 617,
 'ventilation': 618,
 'chimney': 619,
 'master': 620,
 'loader': 621,
 'identifies': 622,
 'rocks': 623,
 'mesh': 624,
 'unload': 625,
 'decides': 626,
 'still': 627,
 'remains': 628,
 'line': 629,
 'fire': 630,
 'time': 631,
 'fragment': 632,
 'gr': 633,
 'cocada': 634,
 'carried': 635,
 'stop': 636,
 'placed': 637,
 'metal': 638,
 'basket': 639,
 'soil': 640,
 'half': 641,
 'scissor': 642,
 'back': 643,
 'Local_07': 644,
 'griff': 645,
 'wrench': 646,
 'unscrew': 647,
 'probe': 648,
 'came': 649,
 'pressing': 650,
 "employee's": 651,
 'semi-kneeling': 652,
 'lid': 653,
 'distributor': 654,
 'box': 655,
 'secondary': 656,
 'mill': 657,
 'presence': 658,
 'debris': 659,
 'spilled': 660,
 'grating': 661,
 'gave': 662,
 'extra': 663,
 'effort': 664,
 'muscle': 665,
 'contracture': 666,
 'times': 667,
 'engineer': 668,
 'trainee': 669,
 'planamieto': 670,
 'entered': 671,
 'amount': 672,
 'notebook': 673,
 'pen': 674,
 'inspecting': 675,
 'roof': 676,
 'lost': 677,
 'balance': 678,
 'stepping': 679,
 'accident': 680,
 'wore': 681,
 'difficult': 682,
 'take': 683,
 'notes': 684,
 'yaranga': 685,
 'barretilla': 686,
 'ampoloader': 687,
 'juan': 688,
 'embedded': 689,
 'boot': 690,
 'reacting': 691,
 'limb': 692,
 'managing': 693,
 '20': 694,
 'shotcrete': 695,
 'launched': 696,
 'bp': 697,
 'obb': 698,
 'finishing': 699,
 'launch': 700,
 'mixkret': 701,
 'alpha': 702,
 'albertico': 703,
 'asks': 704,
 'jhony': 705,
 'finding': 706,
 'cockpit': 707,
 'launcher': 708,
 'team': 709,
 'danon': 710,
 'come': 711,
 'started': 712,
 'noticed': 713,
 'imprisoned': 714,
 'rear': 715,
 'rim': 716,
 'hastial': 717,
 'de': 718,
 'la': 719,
 'labor': 720,
 'clearing': 721,
 'tapped': 722,
 'thumb': 723,
 'flange': 724,
 'little': 725,
 'trauma': 726,
 '18': 727,
 'replacing': 728,
 'telescopic': 729,
 'expansion': 730,
 'joint': 731,
 'hdpe': 732,
 'storm': 733,
 'drainage': 734,
 'pumping': 735,
 'system': 736,
 'involuntarily': 737,
 'moved': 738,
 'positioned': 739,
 'holder': 740,
 'chemo': 741,
 '22': 742,
 'withdrawal': 743,
 'kelly': 744,
 'conductive': 745,
 'diameter': 746,
 'low': 747,
 'tie': 748,
 'lose': 749,
 'nd': 750,
 'pulleys': 751,
 'wearing': 752,
 'rig': 753,
 'blocked': 754,
 '24': 755,
 'starting': 756,
 'activity': 757,
 'coil': 758,
 'warehouse': 759,
 'help': 760,
 'notice': 761,
 'beehive': 762,
 'movement': 763,
 'bees': 764,
 'excited': 765,
 'realizing': 766,
 'turned': 767,
 'people': 768,
 'stung': 769,
 'pre-use': 770,
 'inspection': 771,
 'check': 772,
 'list': 773,
 'finds': 774,
 'behind': 775,
 'seat': 776,
 'plastic': 777,
 'bottle': 778,
 'filled': 779,
 'liquid': 780,
 'apparently': 781,
 'mineral': 782,
 'label': 783,
 'labeling': 784,
 'sip': 785,
 'expelling': 786,
 'noticing': 787,
 'wash': 788,
 'enough': 789,
 'esengrasante': 790,
 'machinery': 791,
 'toxicity': 792,
 '29': 793,
 'flyght': 794,
 'rotor': 795,
 'oil': 796,
 'lubrication': 797,
 'cover': 798,
 'superficially': 799,
 '/': 800,
 'Substances': 801,
 'leakage': 802,
 'sulfur': 803,
 'dioxide': 804,
 'seal': 805,
 'blowing': 806,
 'overpressure': 807,
 'cormei': 808,
 'companies': 809,
 'eissa': 810,
 'cosapi': 811,
 'near': 812,
 'impacted': 813,
 'evacuated': 814,
 'care': 815,
 'returned': 816,
 'usual': 817,
 '27': 818,
 'cutting': 819,
 'meshes': 820,
 'protruding': 821,
 'gables': 822,
 'mt': 823,
 'portable': 824,
 'held': 825,
 'base': 826,
 'loses': 827,
 'hanging': 828,
 'Local_08': 829,
 'March': 830,
 'demag': 831,
 'iv': 832,
 'transporting': 833,
 'hydraulic': 834,
 'another': 835,
 'official': 836,
 'unbalanced': 837,
 'press': 838,
 'pillar': 839,
 'oven': 840,
 'specified': 841,
 'figure': 842,
 'Blocking': 843,
 'and': 844,
 'isolation': 845,
 'of': 846,
 'energies': 847,
 'start': 848,
 'neutral': 849,
 'leaching': 850,
 'process': 851,
 'valve': 852,
 'tank': 853,
 'airlift': 854,
 'circumstance': 855,
 'arm': 856,
 '3': 857,
 'carrying': 858,
 'cement': 859,
 'lamp': 860,
 'suspended': 861,
 'slid': 862,
 'edge': 863,
 'baton': 864,
 'cleaned': 865,
 'spatula': 866,
 'spear': 867,
 'windows': 868,
 'boiler': 869,
 'action': 870,
 'window': 871,
 'epp': 872,
 '5': 873,
 'locomotive': 874,
 'operated': 875,
 'maperu': 876,
 'wagons': 877,
 'loaded': 878,
 'op': 879,
 'waste': 880,
 'bin': 881,
 'next': 882,
 'patrol': 883,
 'car': 884,
 'change': 885,
 'leaves': 886,
 'rail': 887,
 'advancing': 888,
 'ahead': 889,
 'motorist': 890,
 'traveled': 891,
 'alone': 892,
 'remained': 893,
 'minor': 894,
 'bruises': 895,
 'pit': 896,
 'radial': 897,
 'negative': 898,
 'holes': 899,
 'simba': 900,
 'mc': 901,
 'ith': 902,
 'bit': 903,
 'coupling': 904,
 'rotation': 905,
 'abruptly': 906,
 'withdrawing': 907,
 "team's": 908,
 'paid': 909,
 'partner': 910,
 'gallons': 911,
 'mobile': 912,
 'mounted': 913,
 'rails': 914,
 'derailed': 915,
 'lift': 916,
 'instants': 917,
 'trapped': 918,
 'metallic': 919,
 'bruised': 920,
 'index': 921,
 'fracture': 922,
 'leather-type': 923,
 'Suspended': 924,
 'Loads': 925,
 'feeding': 926,
 'containing': 927,
 'scraps': 928,
 'zn': 929,
 'sheets': 930,
 'hook': 931,
 'hoist': 932,
 'abrupt': 933,
 'furnace': 934,
 'explosion': 935,
 '11': 936,
 'incimmet': 937,
 'explosives': 938,
 'anfoloader': 939,
 'sustained': 940,
 'shotcreterepentinamente': 941,
 'superior': 942,
 'crown': 943,
 '.': 944,
 'mx.mx': 945,
 'helper': 946,
 'block': 947,
 'wall': 948,
 'gable': 949,
 'injures': 950,
 'cabin': 951,
 'protection': 952,
 'rops': 953,
 'fops': 954,
 'used': 955,
 'helmets': 956,
 'boots': 957,
 'polyontusions': 958,
 'scoria': 959,
 'injuries': 960,
 'fectuaban': 961,
 'throwing': 962,
 'wooden': 963,
 'blocks': 964,
 'stabilizer': 965,
 'hiab': 966,
 'descending': 967,
 'arriving': 968,
 'last': 969,
 'step': 970,
 'jumps': 971,
 'treading': 972,
 'cause': 973,
 'ankle': 974,
 'cabinet': 975,
 'disposal': 976,
 'pressed': 977,
 'rolled': 978,
 'ends': 979,
 'moves': 980,
 'driver': 981,
 'contained': 982,
 'ear': 983,
 'going': 984,
 "pump's": 985,
 'x': 986,
 'stopped': 987,
 'activates': 988,
 'cats': 989,
 'climbs': 990,
 'accommodated': 991,
 'middle': 992,
 'ripper': 993,
 'pin': 994,
 'tractor': 995,
 'dt-n': 996,
 'third': 997,
 'lowered': 998,
 'cloths': 999,
 ...}

In [66]:
Vocab['Local_03']

74

<span style="color:green;font-weight:bold; font-size:2em">Writing a function to convert the description to tensor<span>

In [67]:
def tweet_to_tensor(tweet, vocab_dict, unk_token='__UNK__', verbose=False):
    '''
    Input: 
        tweet - A string containing a tweet
        vocab_dict - The words dictionary
        unk_token - The special string for unknown tokens
        verbose - Print info durign runtime
    Output:
        tensor_l - A python list with
        
    '''  
    
    ### START CODE HERE (Replace instances of 'None' with your code) ###
    # Process the tweet into a list of words
    # where only important words are kept (stop words removed)
    word_l = tweet.split()
    
    if verbose:
        print("List of words from the processed tweet:")
        print(word_l)
        
    # Initialize the list that will contain the unique integer IDs of each word
    tensor_l = []
    
    # Get the unique integer ID of the __UNK__ token
    unk_ID = Vocab['__UNK__']
    
    if verbose:
        print(f"The unique integer ID for the unk_token is {unk_ID}")
        
    # for each word in the list:
    for word in word_l:
        
        # Get the unique integer ID.
        # If the word doesn't exist in the vocab dictionary,
        # use the unique ID for __UNK__ instead.
        word_ID = Vocab[word] if word in Vocab else unk_ID
    ### END CODE HERE ###
        
        # Append the unique integer ID to the tensor list.
        tensor_l.append(word_ID) 
    
    return tensor_l

<span style="color:green;font-weight:bold; font-size:2em">Tensors Created<span>

In [68]:
tensor_values=[]
 
for row in df1['Description']:    
           tensor_values.append(tweet_to_tensor(row, Vocab, unk_token='__UNK__', verbose=False))

In [69]:
df1['Description'][99]

'Country_02 Local_05 Metals Male Third Party Pressurized Systems / Chemical Substances 2016 22 April employee reports placed air lance tank opened manual air valve projection acid solution heated toward reaching front left thigh'

In [70]:
y[99]

4

In [71]:
np.array(tensor_values[5])

array([ 43, 182, 183,   6,   7,   8,  75,  46,  47,  10, 184,  12, 185,
       186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198,
       199, 200, 201, 202, 192, 203, 187, 204,  83, 205, 206, 207])

<span style="color:green;font-weight:bold; font-size:2em">Maximum length of the Sentence<span>

In [72]:
max_len = 0

for x in range(len(tensor_values)):
    a = len(tensor_values[x])
    if a > max_len:
        max_len = a

max_len

105

<span style="color:green;font-weight:bold; font-size:2em">Padding the X values<span>

In [73]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
maxlen = 100
X = pad_sequences(maxlen=maxlen, sequences=tensor_values, padding="post", value=0)

<span style="color:green;font-weight:bold; font-size:2em">Building Bidirectional LSTM Model<span>

In [74]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, SpatialDropout1D,Bidirectional

embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(len(Vocab), embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(Bidirectional(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2)))
model.add(Dense(6,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 128)          406144
_________________________________________________________________
spatial_dropout1d (SpatialDr (None, 100, 128)          0
_________________________________________________________________
bidirectional (Bidirectional (None, 392)               509600
_________________________________________________________________
dense (Dense)                (None, 6)                 2358
=================================================================
Total params: 918,102
Trainable params: 918,102
Non-trainable params: 0
_________________________________________________________________
None

<span style="color:green;font-weight:bold; font-size:2em">Creating Y categorical Data and splitting the data<span>

In [75]:
from sklearn.model_selection import train_test_split

Y = pd.get_dummies(y).values
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.25, random_state = 88)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(318, 100) (318, 6)
(107, 100) (107, 6)

In [80]:
batch_size = 20
model.fit(X_train, Y_train, epochs = 20, batch_size=batch_size, verbose = 1)

Train on 318 samples
Epoch 1/20
318/318 [==============================] - 6s 18ms/sample - loss: 0.1321 - accuracy: 0.9623
Epoch 2/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.1090 - accuracy: 0.9654
Epoch 3/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.0612 - accuracy: 0.9937
Epoch 4/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.0477 - accuracy: 0.9874
Epoch 5/20
318/318 [==============================] - 4s 14ms/sample - loss: 0.1075 - accuracy: 0.9811
Epoch 6/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.3841 - accuracy: 0.8742
Epoch 7/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.2729 - accuracy: 0.8994
Epoch 8/20
318/318 [==============================] - 4s 12ms/sample - loss: 0.1936 - accuracy: 0.9434
Epoch 9/20
318/318 [==============================] - 4s 12ms/sample - loss: 0.1456 - accuracy: 0.9528
Epoch 10/20
318/318 [==============================] - 4s 12ms/sample - loss: 0.0904 - accuracy: 0.9780
Epoch 11/20
318/318 [==============================] - 4s 12ms/sample - loss: 0.0890 - accuracy: 0.9623
Epoch 12/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.0949 - accuracy: 0.9811
Epoch 13/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.0751 - accuracy: 0.9780
Epoch 14/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.1004 - accuracy: 0.9654
Epoch 15/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.0970 - accuracy: 0.9811
Epoch 16/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.0807 - accuracy: 0.9780
Epoch 17/20
318/318 [==============================] - 4s 11ms/sample - loss: 0.1374 - accuracy: 0.9560
Epoch 18/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.0824 - accuracy: 0.9717
Epoch 19/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.0810 - accuracy: 0.9843
Epoch 20/20
318/318 [==============================] - 3s 11ms/sample - loss: 0.0436 - accuracy: 0.9906

<span style="color:green;font-weight:bold; font-size:2em">Pickling or Saving the Model<span>

In [81]:
model.save('model.h5')

<span style="color:green;font-weight:bold; font-size:2em">Checking the Test Accuracy<span>

In [82]:
score,acc = model.evaluate(X_test, Y_test, verbose = 2, batch_size = batch_size)
print("score: %.2f" % (score))
print("acc: %.2f" % (acc))

107/1 - 0s - loss: 2.7470 - accuracy: 0.4766
score: 3.17
acc: 0.48

<span style="color:green;font-weight:bold; font-size:2em">Classification Report<span>

In [83]:
from sklearn.metrics import classification_report

pred1 = model.predict(X_test)

print(classification_report(Y_test.argmax(axis=1), pred1.argmax(axis=1)))

              precision    recall  f1-score   support

           0       0.91      0.67      0.77        15
           1       0.40      0.46      0.43        26
           2       0.38      0.37      0.38        27
           3       0.50      0.62      0.55        29
           4       0.33      0.10      0.15        10
           5       0.00      0.00      0.00         0

    accuracy                           0.48       107
   macro avg       0.42      0.37      0.38       107
weighted avg       0.49      0.48      0.47       107

C:\Users\Shivang Shrivastav\AppData\Roaming\Python\Python37\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))